<img src = "https://8weeksqlchallenge.com/images/case-study-designs/3.png">

## Introduction

Subscription based businesses are super popular and Danny realised that there was a large gap in the market - he wanted to create a new streaming service that only had food related content - something like Netflix but with only cooking shows!

## Problem Statement

Danny finds a few smart friends to launch his new startup Foodie-Fi in 2020 and started selling monthly and annual subscriptions, giving their customers unlimited on-demand access to exclusive food videos from around the world!

Danny created Foodie-Fi with a data driven mindset and wanted to ensure all future investment decisions and new features were decided using data. This case study focuses on using subscription style digital data to answer important business questions.


## Entity Relationship Diagram

<img src = "https://8weeksqlchallenge.com/images/case-study-3-erd.png">

In [1]:
import sqlite3
import pandas as pd

In [2]:
database = '../data/FoodieFi.sqlite'

In [3]:
connection = sqlite3.connect(database)

# Case Study Questions

---

## A. Customer Journey

---

### Based off the 8 sample customers provided in the sample from the subscriptions table, write a brief description about each customerâ€™s onboarding journey.

In [4]:
pd.read_sql("""

SELECT
  s.customer_id,p.plan_id, p.plan_name,  s.start_date
FROM plans p
JOIN subscriptions s
  ON p.plan_id = s.plan_id
WHERE s.customer_id IN (1,2,11,13,15,16,18,19)
            
            """,connection)

    customer_id  plan_id      plan_name  start_date
0             1        0          trial  2020-08-01
1             1        1  basic monthly  2020-08-08
2             2        0          trial  2020-09-20
3             2        3     pro annual  2020-09-27
4            11        0          trial  2020-11-19
5            11        4          churn  2020-11-26
6            13        0          trial  2020-12-15
7            13        1  basic monthly  2020-12-22
8            13        2    pro monthly  2021-03-29
9            15        0          trial  2020-03-17
10           15        2    pro monthly  2020-03-24
11           15        4          churn  2020-04-29
12           16        0          trial  2020-05-31
13           16        1  basic monthly  2020-06-07
14           16        3     pro annual  2020-10-21
15           18        0          trial  2020-07-06
16           18        2    pro monthly  2020-07-13
17           19        0          trial  2020-06-22
18           19        2    pro monthly  2020-06-29
19           19        3     pro annual  2020-08-29